@model IEnumerable<QuickList.Models.ProductOutput>
@{ ViewData["Title"] = "AllProducts";

    Layout = "~/Views/Shared/_Layout.cshtml"; }

<h1>Your List</h1>

<div class="container">
    <!--Blazor-->
    <form method="POST" action="/GroceryItems/BosieEggs">
        <input value="" name="city" placeholder="City Name" />
        <input value="" name="product" placeholder="Product Name" />
        <input value="" name="number_days" type="number" placeholder="Number of Days" />

        <input type="submit" value="Search" />
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                City
            </th>
            <th>
                Date
            </th>
            <th>
                Price
            </th>
            <th>
                Title
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.City)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
</tr>}
    </tbody>
</table>