@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to QuickList</h1>
    <h3 class="subheader">Where Shoppers shop smart</h3>
    <p>
        <a>
            We all forget to grab everything we came to the grocery store for. We all also
            usually leave the store with much more than we expected, effecting our wallets. QuickList
            allows the shopper not only to Create grocery lists but while searching for products to add,
            also have the price included. So you know what youre going in for and how much you'll spend.
        </a>
    </p>

    <p><a>Start creating Grocery Lists as soon as you Register!</a></p>

    <p><a>Already have a account? Log in to see your Lists</a></p>
</div>
